.about{
    background-color: white;
    color: #52675b;
    margin-bottom: 5%;
    font-weight: 900;
    font-size: 160%;  
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.about-back{ 
    background: url('./Assets/cloud.jpg') no-repeat 0, 0;
    height: 400px;
    background-size: cover;
    margin-bottom: 3%;
}
