.main{
    min-height: 280px;
    background-color: rgb(214, 214, 214);
    display: flex;
    color: #52675b;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 5%;
}
.part{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.part p{
    width: 80%;
}