.root{ 
    background: url('../Assets/iphone.jpg') no-repeat 0, 0 #002960;
    height: 800px;
    background-size: cover;
    margin: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: black;
    font-weight: 900;
    font-size: 80px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}