.compare{
    background-color: white;
    color: #52675b;
    margin-bottom: 5%;
    margin-top: 10%;
    font-weight: 900;
    font-size: 160%;  
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}